html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;font-size:100%;vertical-align:baseline}html{line-height:1}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}q,blockquote{quotes:none}q:before,q:after,blockquote:before,blockquote:after{content:"";content:none}a img{border:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block}*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}img,video{max-width:100%;height:auto}code[class*="language-"],pre[class*="language-"],p code,p pre,code,kbd,pre,samp{font-family:"source-code-pro", monospace;font-weight:300}strong code[class*="language-"],strong pre[class*="language-"],strong code,strong kbd,strong pre,strong samp,code[class*="language-"] strong,pre[class*="language-"] strong,code strong,kbd strong,pre strong,samp strong{font-weight:500}code[class*="language-"],pre[class*="language-"],p code,p pre{direction:ltr;text-align:left;white-space:pre-wrap;word-spacing:normal;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*="language-"]{background:#262626;padding:.4em .8em;margin:.5em 0;overflow:auto;background-size:1em 1em;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px}code[class*="language-"]{color:#fdf2e5}:not(pre)>code[class*="language-"]{padding:.2em;border-radius:.3em;box-shadow:none}.token.comment,.token.prolog,.token.doctype,.token.cdata{color:#666}.token.comment a,.token.prolog a,.token.doctype a,.token.cdata a{text-decoration:underline}.token.punctuation{color:#fdf2e5}.namespace{opacity:.7}.token.boolean{color:#ae81ff}.token.number,.token.operator{color:#ae81ff}.token.property{color:#7fd1f8}.token.selector{color:#a6e22e}.token.string,.token.attr-value{color:#f8ee7f}.token.entity,.token.url,.token.attr-name,.language-css .token.string{color:#a6e22e}.token.atrule,.token.keyword,.token.tag{color:#f8ee7f}.token.regex,.token.important{color:orange}.token.important{font-weight:bold}.token.entity{cursor:help}pre[data-line]{position:relative;padding:1em 0 1em 3em}.line-highlight{position:absolute;left:0;right:0;padding:inherit 0;margin-top:1em;background:rgba(153,122,102,0.08);background:-moz-linear-gradient(left, rgba(153,122,102,0.1) 70%, rgba(153,122,102,0));background:-webkit-linear-gradient(left, rgba(153,122,102,0.1) 70%, rgba(153,122,102,0));background:-o-linear-gradient(left, rgba(153,122,102,0.1) 70%, rgba(153,122,102,0));background:linear-gradient(left, rgba(153,122,102,0.1) 70%,rgba(153,122,102,0));pointer-events:none;line-height:inherit;white-space:pre-wrap}.line-highlight:before,.line-highlight[data-end]:after{content:attr(data-start);position:absolute;top:.4em;left:.6em;min-width:1em;padding:0 .5em;background-color:rgba(153,122,102,0.4);color:#f5f2f0;font:bold 65%/1.5 sans-serif;text-align:center;vertical-align:.3em;border-radius:999px;text-shadow:none;box-shadow:0 1px white}.line-highlight[data-end]:after{content:attr(data-end);top:auto;bottom:.4em}.token a{color:inherit}body{background:#333;color:#eaeaea;font-family:"p22-underground", sans-serif;font-weight:100}::selection{background:#333}::-moz-selection{background:#333}strong,h1,h2,h3,h4,h5,h6{font-weight:300;text-transform:uppercase}a{color:#f8c27f;text-decoration:none;-webkit-transition:color 0.25s;-moz-transition:color 0.25s;-o-transition:color 0.25s;transition:color 0.25s}a:hover{color:#f28500}code a:hover{color:inherit}* html{font-size:112.5%}html{font-size:18px;line-height:1.61803em}body{letter-spacing:.1em}p,ul,ol{margin-bottom:1.61803em}h1{font-size:1.61111em;line-height:2.00859em}h2{font-size:1.44444em;line-height:2.24035em}h3{font-size:1.33333em;line-height:1.21353em}h4{font-size:1.22222em;line-height:1.32385em}h5{font-size:1.11111em;line-height:1.45623em}h6{font-size:1em;line-height:1.61803em}h1{color:#f2006f}h2,h3,h4,h5,h6{color:#fdd8e9}ul,ol{margin-left:1.61803em;position:relative}ul ul,ul ol,ol ul,ol ol{margin-left:1em}ul{list-style:disc}ol{list-style:decimal}body{font-weight:100;font-size:1.5em}.wf-inactive body{font-family:"P22Underground-Thin"}.the-web .state-background{background:#f3f1da}.experiment .state-background{background:#f8c27f}.experiment img{border:0.5em solid #7fb5f8}.experiment #box-model img{border:none}strong,h1,h2,h3,h4,h5,h6{font-weight:300}.wf-inactive strong,.wf-inactive h1,.wf-inactive h2,.wf-inactive h3,.wf-inactive h4,.wf-inactive h5,.wf-inactive h6{font-family:"P22Underground-Light"}blockquote{font-weight:300;color:#fdd8e9;font-size:2em;font-size:1.45em;padding-left:1em;padding-right:1em;margin-left:1em;margin-right:1em;text-align:right;border-right:5px solid #f8ee7f}.wf-inactive blockquote{font-family:"P22Underground-Light"}.quote blockquote b{color:#eaeaea;font-size:0.61803em;margin-top:1em;display:block;font-weight:100}.wf-inactive .quote blockquote b{font-family:"P22Underground-Thin"}ul.fragments,ol.fragments{list-style:none;margin:0;padding:0;text-align:center;margin-top:0.80902em;font-size:1.25em}ul.fragments.small,ol.fragments.small{font-size:1em}ul.fragments li,ol.fragments li{margin-bottom:0.40451em}.the-web .reveal .controls div.navigate-left{border-right-color:#333}.the-web .reveal .controls div.navigate-right{border-left-color:#333}.the-web .reveal .controls div.navigate-up{border-bottom-color:#333}.the-web .reveal .controls div.navigate-down{border-top-color:#333}#responsive-grids pre,#intrinsic-ratios-css pre{font-size:.75em;line-height:1em}#pagecounter{position:absolute;left:1em;bottom:1em;z-index:100;font-size:.75em}.the-web #pagecounter{color:#333}.zeldman b:after{position:absolute;content:'';width:25px;height:15.625px;background-image:url('../images/bbd.png?1371996914');background-size:100%;bottom:1.4em;right:7em;-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg);-ms-transform:rotate(20deg);-o-transform:rotate(20deg);transform:rotate(20deg)}.not-container{width:60%;margin:0 auto;*zoom:expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");*zoom:1}.not-container:before,.not-container:after{content:".";display:block;height:0;overflow:hidden}.not-container:after{clear:both}.not-container img{width:42.5%;height:auto}.not-container img:nth-of-type(odd){float:left}.not-container img:nth-of-type(even){float:right}#html5 img{width:10em;height:auto;margin-bottom:1em}#html5 div img{width:1.5em;margin:0 .5em;height:auto}strong.lowercase{text-transform:none;font-size:1.25em}#html-style-tile-responsive img:nth-of-type(1){width:9.78269%;float:left;margin-right:-100%;margin-left:0%;clear:none}#html-style-tile-responsive img:nth-of-type(2){width:15.82873%;float:left;margin-right:-100%;margin-left:12.96574%;clear:none}#html-style-tile-responsive img:nth-of-type(3){width:25.61142%;float:left;margin-right:-100%;margin-left:31.24014%;clear:none}#html-style-tile-responsive img:nth-of-type(4){width:41.44015%;float:right;margin-left:0;margin-right:0;clear:none}p{padding-bottom:1.618em}blockquote p:last-of-type{padding-bottom:0}h5 ~ blockquote{margin-top:1.618em}blockquote ~ blockquote{margin-top:1.618em}h2,h3,h4,h5,h6{text-transform:inherit;font-variant:small-caps}

#html5 img{width:10em;height:auto;margin-bottom:1em}#html5 div img{width:1.5em;margin:0 .5em;height:auto;opacity:0}.html5 #html5 div img{opacity:1}#html5 div img:nth-of-type(1){-webkit-transition:opacity 0.75s,1s;-moz-transition:opacity 0.75s,1s;-o-transition:opacity 0.75s,1s;transition:opacity 0.75s,1s;-webkit-transition-delay:0.75s;-moz-transition-delay:0.75s;-o-transition-delay:0.75s;transition-delay:0.75s}#html5 div img:nth-of-type(2){-webkit-transition:opacity 0.75s,1s;-moz-transition:opacity 0.75s,1s;-o-transition:opacity 0.75s,1s;transition:opacity 0.75s,1s;-webkit-transition-delay:1.25s;-moz-transition-delay:1.25s;-o-transition-delay:1.25s;transition-delay:1.25s}#html5 div img:nth-of-type(3){-webkit-transition:opacity 0.75s,1s;-moz-transition:opacity 0.75s,1s;-o-transition:opacity 0.75s,1s;transition:opacity 0.75s,1s;-webkit-transition-delay:1.75s;-moz-transition-delay:1.75s;-o-transition-delay:1.75s;transition-delay:1.75s}#html5 div img:nth-of-type(4){-webkit-transition:opacity 0.75s,1s;-moz-transition:opacity 0.75s,1s;-o-transition:opacity 0.75s,1s;transition:opacity 0.75s,1s;-webkit-transition-delay:2.25s;-moz-transition-delay:2.25s;-o-transition-delay:2.25s;transition-delay:2.25s}#html5 div img:nth-of-type(5){-webkit-transition:opacity 0.75s,1s;-moz-transition:opacity 0.75s,1s;-o-transition:opacity 0.75s,1s;transition:opacity 0.75s,1s;-webkit-transition-delay:2.75s;-moz-transition-delay:2.75s;-o-transition-delay:2.75s;transition-delay:2.75s}#html5 div img:nth-of-type(6){-webkit-transition:opacity 0.75s,1s;-moz-transition:opacity 0.75s,1s;-o-transition:opacity 0.75s,1s;transition:opacity 0.75s,1s;-webkit-transition-delay:3.25s;-moz-transition-delay:3.25s;-o-transition-delay:3.25s;transition-delay:3.25s}#html5 div img:nth-of-type(7){-webkit-transition:opacity 0.75s,1s;-moz-transition:opacity 0.75s,1s;-o-transition:opacity 0.75s,1s;transition:opacity 0.75s,1s;-webkit-transition-delay:3.75s;-moz-transition-delay:3.75s;-o-transition-delay:3.75s;transition-delay:3.75s}#html5 div img:nth-of-type(8){-webkit-transition:opacity 0.75s,1s;-moz-transition:opacity 0.75s,1s;-o-transition:opacity 0.75s,1s;transition:opacity 0.75s,1s;-webkit-transition-delay:4.25s;-moz-transition-delay:4.25s;-o-transition-delay:4.25s;transition-delay:4.25s}strong.lowercase{text-transform:none;font-size:1.25em}#html-style-tile-responsive img:nth-of-type(1){width:9.78269%;float:left;margin-right:-100%;margin-left:0%;clear:none}#html-style-tile-responsive img:nth-of-type(2){width:15.82873%;float:left;margin-right:-100%;margin-left:12.96574%;clear:none}#html-style-tile-responsive img:nth-of-type(3){width:25.61142%;float:left;margin-right:-100%;margin-left:31.24014%;clear:none}#html-style-tile-responsive img:nth-of-type(4){width:41.44015%;float:right;margin-left:0;margin-right:0;clear:none}


#page-metaphore h1 {
  color: #f2006f;
}

@-moz-keyframes bounceIn {
  /* line 18, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  0% {
    opacity: 0;
    -moz-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }

  /* line 22, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  45% {
    opacity: 1;
    -moz-transform: scale(2.05, 3.05);
    transform: scale(2.05, 3.05);
  }

  /* line 26, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  70% {
    -moz-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  /* line 29, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  100% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes bounceIn {
  /* line 18, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }

  /* line 22, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  45% {
    opacity: 1;
    -webkit-transform: scale(2.05, 3.05);
    transform: scale(2.05, 3.05);
  }

  /* line 26, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  70% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  /* line 29, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-o-keyframes bounceIn {
  /* line 18, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  0% {
    opacity: 0;
    -o-transform: scale(0.3, 0.3);
    transform: scale(0.3, 0.3);
  }

  /* line 22, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  45% {
    opacity: 1;
    -o-transform: scale(2.05, 3.05);
    transform: scale(2.05, 3.05);
  }

  /* line 26, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  70% {
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
  }

  /* line 29, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  100% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes bounceIn {
  /* line 18, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  0% {
    opacity: 0;
    transform: scale(0.3, 0.3);
  }

  /* line 22, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  45% {
    opacity: 1;
    transform: scale(2.05, 3.05);
  }

  /* line 26, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  70% {
    transform: scale(0.9, 0.9);
  }

  /* line 29, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/bounce/_bounceIn.scss */
  100% {
    transform: scale(1, 1);
  }
}

/* line 6, ../sass/screen.scss */
.boom #design-in-your-browser h1 {
  -webkit-animation: bounceIn 1s;
  -moz-animation: bounceIn 1s;
  -o-animation: bounceIn 1s;
  animation: bounceIn 1s;
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  animation-delay: .3s;
}


@-moz-keyframes tada {
  /* line 16, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  0% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 18, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  10% {
    -moz-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 21, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  20% {
    -moz-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 24, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  30% {
    -moz-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 27, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  40% {
    -moz-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 30, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  50% {
    -moz-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 33, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  60% {
    -moz-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 36, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  70% {
    -moz-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 39, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  80% {
    -moz-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 42, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  90% {
    -moz-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 45, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  100% {
    -moz-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@-webkit-keyframes tada {
  /* line 16, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 18, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  10% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 21, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  20% {
    -webkit-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 24, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  30% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 27, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  40% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 30, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  50% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 33, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  60% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 36, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  70% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 39, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  80% {
    -webkit-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 42, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  90% {
    -webkit-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 45, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  100% {
    -webkit-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@-o-keyframes tada {
  /* line 16, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  0% {
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 18, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  10% {
    -o-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 21, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  20% {
    -o-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 24, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  30% {
    -o-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 27, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  40% {
    -o-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 30, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  50% {
    -o-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 33, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  60% {
    -o-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 36, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  70% {
    -o-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 39, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  80% {
    -o-transform: scale(1.1) rotate(-3deg);
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 42, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  90% {
    -o-transform: scale(1.1) rotate(3deg);
    transform: scale(1.1) rotate(3deg);
  }

  /* line 45, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  100% {
    -o-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}

@keyframes tada {
  /* line 16, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  0% {
    transform: scale(1, 1);
  }

  /* line 18, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  10% {
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 21, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  20% {
    transform: scale(0.9) rotate(-3deg);
  }

  /* line 24, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  30% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 27, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  40% {
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 30, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  50% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 33, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  60% {
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 36, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  70% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 39, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  80% {
    transform: scale(1.1) rotate(-3deg);
  }

  /* line 42, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  90% {
    transform: scale(1.1) rotate(3deg);
  }

  /* line 45, ../../../../../usr/local/gems/animate-0.2.beta.0/stylesheets/animate/attention/_tada.scss */
  100% {
    transform: scale(1) rotate(0);
  }
}

/* line 6, ../sass/screen.scss */
.html5 #html5 > img {
  -webkit-animation: tada 1s 4.5s;
  -moz-animation: tada 1s 4.5s;
  -o-animation: tada 1s 4.5s;
  animation: tada 1s 4.5s;
}
